/*RESETS*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

.bg-success{
    background-color: #a5c15d;
}
/*
h2::before{
    content: "";
    height: 45px;
    width: 3px;
    background-color: #fff;
    position: absolute;
    margin: auto;
    top: 0;
    left: 30px;
    bottom: 0;
}
h2::after{
    content: "";
    height: 45px;
    width: 3px;
    background-color: #fff;
    position: absolute;
    margin: auto;
    top: 0;
    right: 30px;
    bottom: 0;
}*/

.textcarro{
    flex-direction: column;
    justify-content: space-around;
}
.minicard{
    height: 160px;
}
.minicard2{
    order:1
}
.reducao2 img{
    height: 425px;
    width: 650px;
}
.borda{
    margin-top: 58px;
}
.hist .alinha{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.scrollspySite {
    position: relative;
    overflow: auto;
    height: 380px;
}

.avancar{
    transition: all 0.3s ease-in-out
}

.avancar:hover{
    transform: scale(1.05);
    box-shadow: #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

i[class*="fa"] {
    padding: 0 10px;
    font-size: 0.9em;

}
.produto{
    height: 500px;
}

a,
/* Links ativos */
a:active,
/* Links quando passamos o mouse sobre eles */
a:hover,
/* E links já visitados */
a:visited {
    text-decoration: none;
    /* Remove o underline padrão */
}
.preco{
    font-size: 1.2em;
    color: #343a40;
    font-weight: bolder;
    margin: 0;
}
.descricao{
    font-size: 0.9em;
    color: rgb(102, 102, 102);
}

[data-target="#carrosselRoteiros"]:not(.active) {
    background-color: gray !important;
    
}

.indice{
    border-radius: 50%;
    height: 40px;
    width: 15px;
    border: 2px solid #fff;
}

.carrosel-de-vendas {
    bottom: -15px !important;
}

#carrosselRoteiros {
    height: auto;
}
.carousel-indicators{
    border-radius: 50%;;
}
.promo{
    color: grey;
    text-decoration: overline;
}

.coroa{
    background-color: blue;
}

.texto-desconto{
    margin: 0;
}